
body{
    background-color:#060606;
    margin-right: auto;
    margin-left: auto;
    size: 0%;
    overflow-x: hidden;
    
}

h1{
    font-family:The Wanters DEMO;
    margin-left:2%;
    font-size:2cm;
    color: #f6f6f6;
} 
h2{
    font-family: Montserrat;
    color: #f6f6f6;
    font-size:45px ;
}

p{
    font-family: Loew;
    font-size: 22px;
}
#cabeçalho{
    background-color: #06224a;
    margin-top: -1%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6%;
    
}
#logo{
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 50%;
    align-content: center;
    justify-content: center;


}
img{
    justify-content: center;
    text-align: center;
    
 
    
    
}
a{
    color: #e19310;
    font-size: xx-large;
    justify-content:center;
    height:min-content;
    margin-right: 15px;

}





p{
    margin-left: 10%;
    margin-right: 10%;
    color: #f6f6f6;
    text-align: center;
    
}
#complemento{
    background-color:#e19310;
    margin-left: -1%;
    margin-right:-1%;
    border-radius: 0%;

}

fieldset{
    margin-right: 30%;
    margin-left: 30%;
    justify-content: center;
    text-align: center;
    position: absolute;
    margin-left: 32.5%;
    margin-right: 32.5%;
    margin-bottom: 50%;

}
#capa{
    text-align: center;
    margin-left: 27%;
    margin-right: 2%;
}

h4{
    font-family:The Wanters DEMO;
    color: #f6f6f6;
    font-size:52px;
    text-align: center;
}

#começo{
    margin-left: 7%;
    margin-right: 7%;
}
hr{
    margin-left: 7%;
    margin-right: 7%;
}
.link{
    width: 96px;
    margin-left: 2%;
}

